@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MPLUSRounded1c;
  src: url(/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf);
}

* {
  font-family: MPLUSRounded1c;
  font-weight: inherit;
  transform: rotateZ(0.03deg);
}